#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "localhost:6600",
    password: None,
    enable_config_hot_reload: true,
    theme: "custom",
    volume_step: 5,
    max_fps: 30,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    status_update_interval_ms: 1000,
    select_current_song_on_change: false,
    album_art: (
        method: Auto,
        max_size_px: (width: 850, height: 850),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    keybinds: (
        global: {
            "u":       Update, // update music database
            "U":       Rescan,
            ":":       CommandMode,
            ".":       VolumeUp,
            ",":       VolumeDown,
            "s":       Stop,
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Playlists"),
            "3":       SwitchToTab("Library"),
            "4":       SwitchToTab("Artists"),
            "F":       SwitchToTab("Search"),
            "q":       Quit,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "b":       SeekBack,
            "p":       TogglePause,
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleConsume,
            "v":       ToggleSingle,
            "?":       ShowHelp,
            "I":       ShowCurrentSongInfo,
            "O":       ShowOutputs,
            "P":       ShowDecoders,
        },
        navigation: { // Playlists pane
            "k":         Up,
            "j":         Down,
            "h":         Left,
            "l":         Right,
            "<Up>":      Up,
            "<Down>":    Down,
            "<Left>":    Left,
            "<Right>":   Right,
            "<C-k>":     PaneUp,
            "<C-j>":     PaneDown,
            "<C-h>":     PaneLeft,
            "<C-l>":     PaneRight,
            "<C-u>":     UpHalf,
            "<C-d>":     DownHalf,
            "N":         PreviousResult,
            "a":         Add, // add song to queue pane
            "A":         AddAll,
            "r":         Rename,
            "n":         NextResult,
            "g":         Top,
            "<Space>":   Select,
            "<C-Space>": InvertSelection,
            "G":         Bottom,
            "<CR>":      Confirm,
            "i":         FocusInput,
            "/":         EnterSearch,
            "<C-c>":     Close,
            "<Esc>":     Close,
            "J":         MoveDown, // move song up in playlist
            "K":         MoveUp, // move song down in playlist
            "D":         Delete,  // delete a song from playlist
        },
        queue: { // queue pane
            "D":       DeleteAll,
            "<CR>":    Play,
            "a":       AddToPlaylist, // add song to playlist from queue pane
            "d":       Delete, // delete song from queue
            "i":       ShowInfo,
            "C":       JumpToCurrent,
            "<C-s>":   Save, // save current playng queue to new playlist
        },
    ),
    // Customize Search Tab
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "title",       label: "Title"),
            (value: "album",       label: "Album"),
            (value: "artist",      label: "Artist"),
            (value: "albumartist", label: "Feat."),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
    ),
    current_song: (
        format: "{title}\n{artist}\n{album}",
        align: Center,
    ),
    // Customize tabs here
    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "40%", pane: Pane(AlbumArt)),
                    (size: "60%", pane: Split(
                        direction: Vertical,
                        panes: [
                            (size: "50%", pane: Pane(Queue)),
                            (size: "50%", pane: Pane(Cava)),
                        ],
                    )),
                ],
            ),
        ),
        (
            name: "Playlists",
            pane: Split(
                direction: Horizontal,
                panes: [(size: "100%", borders: "ALL", pane: Pane(Playlists))],
            ),
        ),
        (
            name: "Library",
            pane: Pane(Directories),
        ),
        (
            name: "Artists",
            pane: Split(
                direction: Horizontal,
                panes: [(size: "100%", borders: "ALL", pane: Pane(Artists))],
            ),
        ),
        (
            name: "Search",
            pane: Split(
                direction: Horizontal,
                panes: [(size: "100%", borders: "ALL", pane: Pane(Search))],
            ),
        ),
    ],
  cava: (
    framerate: 60, // default 60
    autosens: true, // default true
    sensitivity: 100, // default 100
    lower_cutoff_freq: 50, // not passed to cava if not provided
    higher_cutoff_freq: 10000, // not passed to cava if not provided
    input: (
        method: Fifo,
        source: "/tmp/mpd.fifo",
        sample_rate: 44100,
        channels: 2,
        sample_bits: 16,
    ),
    smoothing: (
        noise_reduction: 77, // default 77
        monstercat: false, // default false
        waves: false, // default false
    ),
    // this is a list of floating point numbers thats directly passed to cava
    // they are passed in order that they are defined
    eq: []
),
)
